# Mac OS X
*.DS_Store
:
# Xcode
A_AppIcon-Versioned.appiconset
output/
*.ipa
*.dSYM.*
/fastlane/report.xml
/fastlane/FastlaneRunner

*.xcworkspacedata
*.xcsettings
*.xcscheme

*.pbxuser

*.mode1v3

*.mode2v3

*.perspectivev3

*.xcuserstate

.DS_Store

exportAppstore.plist

exportTest.plist

shell.sh

project.xcworkspace/

xcuserdata/

project.xcworkspace

xcuserdata

UserInterfaceState.xcuserstate

UserInterface.xcuserstate

*.generated.swift

# Pod

*.lock
Pods/
